<svg xmlns="http://www.w3.org/2000/svg" class="hamburger relative font-normal w-10 l-10 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
</svg>

<div class="hamburger-background hidden">
  <div id="hamburger-menu" class="">
    <%= yield %>
    <%= button_to "Edit Profile", edit_user_registration_path, method: :get %>
    <% if Rails.env.development?  %>
      <%= button_to "SEED Shifts", seed_meetings_path, method: :post %>
    <% end %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: {confirm: "are you sure"} %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector(".hamburger").addEventListener("click", (e) => {
      document.querySelector(".hamburger-background").classList.toggle("hidden")
    })
    document.querySelector(".hamburger-background").addEventListener("click", (e) => {
      document.querySelector(".hamburger-background").classList.toggle("hidden")
    })
    document.querySelector("#hamburger-menu").addEventListener("mouseleave", (e) => {
      document.querySelector(".hamburger-background").classList.toggle("hidden")
    })
  })
</script>