
<li class="event" style="background-color: <%# meeting.user_color %>">
  <%# TODO: add color to user and display the background of their meeting with it %>
  <%= link_to "#{meeting.user_name_month} #{meeting.work_time}", meeting_path(meeting), {  class: "no-underline", style: "color:#{meeting.user_color}"} %>
</li>