@import "../variables.scss";


.tool-tip {
  position: relative;
  display: inline-block;
  font-size: inherit;
  border-radius: 10rem;
  width: 2rem;
  height: 2rem;
  transition: 0.15s ease-in-out;

  div,
  a {
    color: $header-color;
  }

  &:hover {
    background-color: #22222210;

    .tool-tip-text {
      visibility: visible;
    }
  }

  &:active {
    background-color: #22222230;
  }
  .tool-tip-text {
    visibility: hidden;
    max-width: 150px;
    min-width: 80px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;
    color: $tooltip-text-color;
    background-color: $tooltip-background-color;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
}
