<select name="select" class="select-dropdown">
  <% options.each do |key,val| %>
    <option class="view-option" value="<%= current == key.to_s ? options[key] : val %>" <%= 'selected' if current == key.to_s %>  data-link=<%= val %>><%= key.to_s %></option>
  <% end %>
</select>

<script>
  document.addEventListener("turbo:load", () => {
    document.querySelector(".select-dropdown").addEventListener("change", (e) => {
      console.log(e.target.getAttribute("data-link"))
      window.location.href = e.target.value
    });
  });
</script>