@import "../variables.scss";
@import "../calendar/header.scss";

.day-off-monthly {
  background-color: #7c47b2;
  color: $theme-white;
  border-radius: 0.5rem;
}

.monthly-shifts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 7px;
  margin-top: 9px;
}

.morning-shift {
  border-radius: 0.5rem;
  background-color: $theme-yellow-faded;

  li {
    position: relative;
    color: $title-color;
    a {
      color: $title-color;
    }

    &:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $theme-navy-faded;
    }
  }

  li.current-user-shift {
    font-weight: bold;

    &::before {
      content: "Shift";
      color: $red;
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      top: -6px;
      left: -18px;
    }
    a {
      // color: $theme-yellow;
      font-weight: bold;

      &::before {
        content: "Shift";
        color: $red;
        display: block;
        position: absolute;
        transform: rotate(-45deg);
        top: -6px;
        left: -18px;
      }
    }
  }
}

.evening-shift {
  border-radius: 0.5rem;
  background-color: $theme-navy-faded;

  li {
    position: relative;
    color: $theme-white;
    a {
      color: $theme-white;
    }

    &:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $theme-white;
    }
  }

  li.current-user-shift {
    font-weight: bold;

    &::before {
      content: "Shift";
      color: $red;
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      top: -6px;
      left: -18px;
    }
    a {
      // color: $theme-yellow;
      font-weight: bold;

      &::before {
        content: "Shift";
        color: $red;
        display: block;
        position: absolute;
        transform: rotate(-45deg);
        top: -6px;
        left: -18px;
      }
    }
  }
}

table > tbody {
  z-index: -2;
}

table > tbody > tr[class^="week-"]:hover {
  outline: 2px solid $theme-navy-faded !important;
}

.monthly-calendar {
  table > tbody > tr > td {
    // min-width: $monthly-table-body-column-min-width;
    // max-width: calc($monthly-table-body-column-width / 7);
  }
}
table > thead {
  position: sticky;
  top: 35px;
  z-index: 2;
}
