@import "../variables.scss";
@import "../calendar/header.scss";

.day-off {
  border-radius: 0.5rem;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  width: 100%;
  outline: 3px solid $day-off-border-color;
  border: 2px solid white;
  text-align: center;
  height: 100%;

  @media (min-width: 368px) and (max-width: 768px) {
    width: 100%;
    white-space: normal;
  }
  @media (min-width: 768px) {
    white-space: normal;
  }
}

.day-off-monthly {
  overflow: visible;
}

.hidden-with-opacity {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.hidden-with-opacity.show {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.day-off-description {
  position: absolute;
  font-size: 0.8rem;
  color: #000000;
  outline: 3px solid #7c47b2;
  border: 2px solid white;
  background-color: #ffffff;
  padding: 0.25rem;
  border-radius: 0.5rem;
  bottom: 100%; /* Position the description just above the "Day Off" element */
  left: 63%; /* Center the description horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  z-index: 10; /* Ensure the description appears on top */
  width: max(80%, 130px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.day-off-description::before {
  content: "";
  position: absolute;
  bottom: -22px; /* Position the description just above the "Day Off" element */
  left: 15%; /* Center the description horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  z-index: 10; /* Ensure the description appears on top */
  border-width: 10px;
  border-style: solid;
  border-color: #7c47b2 transparent transparent transparent;
}

.monthly-shifts > * {
  min-width: 82px;
}

.monthly-shifts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 9px;
}

.morning-shift {
  border-radius: 0.5rem;
  outline: 2px solid $theme-yellow-faded;
  border: 1px solid white;

  li {
    position: relative;
    text-align: center;

    color: $title-color;
    a {
      color: $title-color;
    }

    &:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $theme-navy-faded;
    }
  }

  li.current-user-shift {
    font-weight: bold;
    text-align: center;
    &::before {
      content: "Shift";
      color: $red;
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      top: -6px;
      left: -18px;
    }
    a {
      // color: $theme-yellow;
      font-weight: bold;
      text-align: center;

      &::before {
        content: "Shift";
        color: $red;
        display: block;
        position: absolute;
        transform: rotate(-45deg);
        top: -6px;
        left: -18px;
      }
    }
  }
}

.evening-shifts {
  border-radius: 0.5rem;
  outline: 2px solid $theme-navy-faded;
  border: 1px solid white;

  li {
    position: relative;
    text-align: center;

    color: $theme-white;
    a {
      color: $theme-white;
    }

    &:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $theme-white;
    }
  }

  li.current-user-shift {
    font-weight: bold;
    text-align: center;

    &::before {
      content: "Shift";
      color: $red;
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      top: -6px;
      left: -18px;
    }
    a {
      // color: $theme-yellow;
      font-weight: bold;
      text-align: center;

      &::before {
        content: "Shift";
        color: $red;
        display: block;
        position: absolute;
        transform: rotate(-45deg);
        top: -6px;
        left: -18px;
      }
    }
  }
}

.all-day-shifts::after {
  content: "";
  position: absolute;
  top: -2.5px; /* Adjust based on the desired thickness of the border */
  left: -2.5px; /* Adjust based on the desired thickness of the border */
  right: -2.5px; /* Adjust based on the desired thickness of the border */
  bottom: -2.5px; /* Adjust based on the desired thickness of the border */
  z-index: -1;
  background: linear-gradient(90deg, #fca31156, #002e4f56);
  border-radius: inherit; /* If the main element has rounded corners */
}

.all-day-shifts {
  position: relative;
  border-radius: 0.5rem;
  // outline-top: 2px solid linear-gradient($theme-navy-faded, $theme-yellow-faded );
  // outline: 2px solid red;
  border: 1px solid white;

  li {
    position: relative;
    color: $theme-white;
    text-align: center;
    a {
      color: $theme-white;
    }

    &:not(:last-child) {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $theme-white;
    }
  }

  .current-user-shift {
    font-weight: bold;
    text-align: center;

    &::before {
      content: "Shift";
      color: $red;
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      top: -6px;
      left: -18px;
    }
    a {
      // color: $theme-yellow;
      font-weight: bold;
      text-align: center;

      &::before {
        content: "Shift";
        color: $red;
        display: block;
        position: absolute;
        transform: rotate(-45deg);
        top: -6px;
        left: -18px;
      }
    }
  }
}

table > tbody {
  z-index: -2;
}

table > tbody > tr[class^="week-"]:hover {
  outline: 2px solid $theme-navy-faded !important;
}

.monthly-calendar {
  table > tbody > tr > td {
    // min-width: $monthly-table-body-column-min-width;
    // max-width: calc($monthly-table-body-column-width / 7);
  }
}
table > thead {
  position: sticky;
  top: 35px;
  z-index: 2;
}

.current-user-day-off {
  position: relative;
  font-weight: bold;
  text-align: center;
}

.current-user-day-off-monthly {
  &::before {
    content: "OFF";
    color: $red;
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    top: -6px;
    left: -10px;
  }
}
