tr#weekly {
  td {
    padding: 0;
  }
  .day {
    height: 100dvh;
    min-height: 60dvh;
    width: calc(100dvw / 7);
    overflow: auto;
  }

  .time-column {
    height: 100dvh;
    min-height: 60dvh;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // gap:1rem;
  }

  .hour-column {
    // height: 100dvh;
    // min-height: 60dvh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // gap: 1rem;
    // align-items: flex-start;
  }

  .hour-cell {
    height: 3rem;
  }

  .mh1 {
    min-height: 1rem;
  }

  .time-column {
    :nth-child(2n) {
      background-color: #22222210;
    }
  }
}
