@import "../variables.scss";

.calendar-heading.month {
  width: $main-width-medium;
}

.claendar-heading.week {
  width: $main-width-medium;
}
.calendar-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  position: sticky;
  z-index: 2;
  width: $main-width-medium;
  margin-bottom: 0.25rem;
  background-color: $theme-white;
  position: sticky;
  top: 0;

  .hamburger-main {
    position: relative;
  }

  .hamburger-background {
    width: 100%;
    z-index: 5;
    height: 100%;
    position: fixed;
    inset: 0;
  }

  #hamburger-menu {
    background-color: $theme-gray;
    position: absolute;
    width: 10rem;
    height: 4rem;
    border-radius: 0.75rem;
    padding-top: 10px;
    z-index: 5;

    button {
      color: $theme-navy-faded;
      &:hover {
        color: $theme-navy;
      }
    }
  }

  .calendar-title {
    color: $title-color;
    font-size: $header-heading-font-size-medium;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  body {
    width: 98dvw;
  }

  .weekly-calendar {
    // .table-header {
    //   top: 11px;
    // }
    .calendar-heading.week {
      #hamburger-menu {
        top: 47px;
        right: 9px;
      }
    }
  }

  .user-name,
  .today-btn {
    display: none;
  }

  .calendar-heading.month {
    #hamburger-menu {
      top: 40px;
      right: 9px;
    }
  }
}

@media (min-width: 768px) {
  .monthly-calendar {
    margin: auto;
  }

  .weekly-calendar {
    margin: auto;
  }

  .calendar-heading.week {
    #hamburger-menu {
      top: 65px;
      right: 34px;
    }
  }

  .calendar-heading.month {
    // top: 0px;
    #hamburger-menu {
      top: 65px;
      right: 34px;
    }
  }
}
