<div class="m-2">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="font-bold text-4xl">Edit Day Off</h1>
    <% if @day_off.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2> Prohibited this request day off:</h2>
        <ul>
          <% @day_off.errors.each do |error| %>
            <li>-<%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render partial: "day_offs/shared/form", locals: { method: :patch } %>

  </div>
</div>