@use "meetings/meeting.scss";
@use "meetings/weekly.scss";
@use "meetings/monthly.scss";

.simple-calendar {
  .day {
    height: 8rem;
    border: 1px solid #22222260;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    &:hover {
      // background-color: #22222210;
      // font-size: 1.1rem;
      // text-decoration: underline;
    }
  }
  
  table.table thead tr th {
    width: 5rem;
  }

  .wday-0 {
    color: red;
  }
  .wday-1 {
  }
  .wday-2 {
  }
  .wday-3 {
  }
  .wday-4 {
  }
  .wday-5 {
  }
  .wday-6 {
    color: red;
  }

  .today {
    border: 5px solid #22222280;
  }
  .past {
  }
  .future {
  }

  .start-date {
  }

  .prev-month {
    background-color: #22222230;
  }
  .next-month {
    background-color: #22222230;
  }
  .current-month {
  }

  .has-events {
  }

  .event {
    // border-radius: 1rem;
    :hover {
      text-decoration: underline;
    }
  }
}
