@use "meetings/meeting.scss";
@use "meetings/weekly.scss";
@use "meetings/monthly.scss";
@use "shared/tooltip.scss";
@use "shared/dropdown.scss";

* {
  color: $text-color;
}

.monthly-calendar {
  // margin: 1.5rem;
  table.table-header {
    width: $main-width-medium;
  }

  .day-name-container {
    background-color: $theme-white;
  }

  .day {
    vertical-align: top;
    color: $text-color;
    height: 8rem;
    border: 1px solid #22222260;
    // width: max(60px, calc(100% / 7));
    width: calc($monthly-table-body-column-width / 7);
    padding: 12px;
    
    transition: all 0.15s ease-in-out;
    a:hover {
      cursor: pointer;
      // background-color: #22222210;
      // font-size: 1.1rem;
      // text-decoration: underline;
    }
  }

  .day-name {
    color: $text-color;
    font-size: 20px;
    width: calc($monthly-table-body-column-width / 7);
  }

  .wday-0 {
    color: $theme-red;
  }
  .wday-1 {
  }
  .wday-2 {
  }
  .wday-3 {
  }
  .wday-4 {
  }
  .wday-5 {
  }
  .wday-6 {
    color: $theme-red;
  }

  .today > span {
    border-radius: 10rem;
    padding: 9px;
    background-color: $today-date-color;
    color: $white;

    &:hover {
      span {
        background-color: $today-date-hover-color;
      }
    }
  }

  .date {
    border-radius: 10rem;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #22222210;
    }
  }

  .today-date {
    background-color: $today-date-color;
    color: #ffffff;

    &:hover {
      background-color: $today-date-hover-color;
    }
  }
  .past {
  }
  .future {
  }

  .start-date {
  }

  .prev-month {
    background-color: #22222230;
  }
  .next-month {
    background-color: #22222230;
  }
  .current-month {
  }

  .has-events {
  }

  .event {
    // border-radius: 1rem;
    :hover {
      text-decoration: underline;
    }
  }
}

a {
  text-decoration: none;
  :hover {
  }
}
