// define variables here
$primary-color: #f2e8cf;
$today-date-color: #0b57d0;
$today-date-hover-color: #054ec4;
$white: #ffffff;
$off-white: #ffffff80;
$black: #000000;
$text-color: #70757a;
$red: #f4511e;
