// define variables here
$primary-color: #f2e8cf;
$today-date-color: #0b57d0;
$today-date-hover-color: #054ec4;
$white: #ffffff;
$off-white: #ffffff80;
$black: #000000;
$text-color: #70757a;
$red: #f4511e;
$title-color: rgb(60,64,67);
$header-color: rgb(95,99,104);

$tooltip-text-color: #e8eaed;
$tooltip-background-color: #3C4043;

$header-heading-font-size: 22px;
$header-font-size: 1rem;

// main theme color
$theme-yellow: #fca311;
$theme-yellow-faded: #fca31190;
$theme-navy: #002e4f;
$theme-navy-faded: #002e4f90;
$theme-red: #9d0208;
$theme-red-faded: #9d020890;
$theme-orange: #e85d04;
$theme-orange-faded: #e85d0490;
$theme-white: #ffffff;
$theme-white-faded: #ffffff90;
$theme-gray: #bfbdbd;
$theme-gray-faded: #bfbdbd90;
$theme-black: #000000;
$theme-black-faded: #00000090;
